
body {
  font-family: "helvetica";
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
  background: linear-gradient(to right, #64b3f4, #c2e59c);

}

h1 {
  background:  #a9cce3;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: white; 
  height: 40px;
  line-height: 40px;
}

li:nth-child(2n) {
  background: #F0F8FF;
}

li:hover span {
  width: 40px;
  opacity: 1.0;
}

span {
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: red;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

input {
  font-size: 18px;
  color: #a9cce3;
  background-color: #F0F8FF;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background: white;
  border: 2px solid #a9cce3;
  outline: none;
}

#container {
  background: #F0F8FF;
  width: 400px;
  margin: 100px auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
  color: gray;
  text-decoration: line-through;
}